.main {
  background-color: black;
  color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px;

  @media screen and (max-width: 1024px) {
    gap: 30px;
    padding: 40px;
  }
}

.section {
  display: flex;
  justify-content: center;
  gap: 40px;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__div {
    display: flex;
    justify-content: center;

    &__photo {
      width: 200px;
      height: 200px;
      border: 8px solid var(--gray);
      border-radius: 50%;

      @media screen and (max-width: 1024px) {
        width: 150px;
        height: 150px;
      }
    }
  }

  &__about {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &__certificate {
      margin-left: 6px;
      &:hover {
        color: white;
      }
    }

    ul {
      padding: 15px 0;
      display: flex;
      gap: 32px;

      @media screen and (max-width: 1024px) {
        flex-direction: column;
        gap: 16px;
      }

      a {
        display: flex;
        align-items: center;
        gap: 4px;

        &:hover {
          color: white;
        }
      }
    }
  }

  .contact {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 4px;

    @media screen and (max-width: 600px) {
      font-size: 14px;
    }
  }
}

.section-skills {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;

  h2 {
    width: max-content;
    align-self: center;
    text-align: center;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 28px;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    ul {
      display: flex;
      justify-content: center;
      gap: 28px;

      @media screen and (max-width: 1024px) {
        gap: 16px;
      }

      @media screen and (max-width: 300px) {
        gap: 5px;
      }

      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6px;

        span {
          @media screen and (max-width: 600px) {
            font-size: 12px;
            min-width: max-content;
          }
        }

        img {
          width: 60px;
          height: 60px;

          @media screen and (max-width: 600px) {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}

.section-projects {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 16px;

  h2 {
    width: max-content;
    align-self: center;
    text-align: center;
    border-bottom: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  }

  &__list {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 32px;
    border-radius: 16px;
    //feature

    @media screen and (max-width: 1024px) {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      width: 27%;

      @media screen and (max-width: 1024px) {
        width: 95%;
      }

      article {
        h3 {
          margin: 10px;
          color: white;
        }

        figure {
          display: contents;

          img {
            border-radius: 16px;
            width: 100%;
            border: 2px solid white;

            &:hover {
              border: 8px solid white;
              transition: all linear 0.1s;
            }
          }
        }
      }
    }
  }
}
